.navbar{
    background:darkblue;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    
    .headshot{
        display: block;
        padding: 8px 0;
        
        img{
            display: block;
            margin: 8px auto;
            width: 50px;
            height: auto;
        }
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
        a {
            font-size: 22px;
            color: lightgrey;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
        }
    }

    ul{
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        li{
            a{
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

            }
        }
    }
}

